div 
    li
        label Title
        input(type="text", data-bind="value:Title")
    li
        label Body 
        textarea(data-bind="value: Body") 
    input.JKButton(type="button", data-bind="click: Submit", value="Send Message")  