doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/Site.css')
        link(rel='stylesheet', href='/stylesheets/dropzone.css') 
        link(rel='stylesheet', href='/stylesheets/toastr.css')
        link(rel='stylesheet', href='/stylesheets/vex.css')
        link(rel='stylesheet', href='/stylesheets/opentip.css')
        link(rel='stylesheet', href='/stylesheets/vex-theme-os.css')
    body
        //if gte IE 9
            style
                .gradient {
                    filter: none;
                }
        block content
        div.page
            div.head
                div.line.title_bar.gradient_background
                    div.unit.size1of2.logo_img 
                    div.unit.size1of3.header_title
                        h1 Barter Faire
                        h4 A way to buy and sell together with your neighbors. 
                    div.lastUnit.size1of4.user_controls(align="right")
                        div(data-bind="if: name")
                            div.line
                                div.unit.size1of1
                                    span Welcome back, 
                                        span(data-bind="text: name")
                                    img(data-bind="click: viewMessages, attr: { src: mailImg }")								
                            div.line
                                div.unit.size1of1
                                    button.topMenuButton(data-bind="click: manageAccount") Manage Account    
                                    button.topMenuButton(data-bind="click: logOut") Log Off                         
                        div(data-bind="ifnot: name")
                            div.line
                                div.unit.size1of1
                                    button.topMenuButton(onclick="Application.Register()") Register 
                                    button.topMenuButton(onclick="Application.Login()") Log-in 
            div.body 
                div.leftCol.gradient_toolbox
                    div.line
                        div.unit.size1of1
                            p#toolBoxHeader Find stuff fast!
                                span#searchTip
                                img(src="/Images/help.gif")
                    div.line
                        div.unit.size1of2
                            div#filters      
                div.main  
                    div#mainContent.component 
            div.footer.gradient_background
                div
                    div.unit.size1of3
                        h4 bing bong bang!
                    div.unit.size1of3
                        h4 like what you see? s
                    div.unit.size1o3
                        h4 Social Icons Here.
        script(src='/javascripts/modernizr-2.6.2.js')
        script(src='/javascripts/jquery-1.8.2.min.js')
        script(src="//cdn.socket.io/socket.io-1.0.0.js")
        script(src='/javascripts/toastr.js')
        script(src='/javascripts/q.min.js')
        script(src='/javascripts/vex.combined.min.js')
        script(src='/javascripts/unslider.min.js')
        script(src='/javascripts/underscore.js')
        script(src='/javascripts/knockout-2.2.0.js')
        script(src='/javascripts/native.history.min.js')
        script(src='/javascripts/dropzone.js')
        script(src='/javascripts/opentip-native.js') 
        script(src='/javascripts/Application.js') 
        script(type='text/javascript').
            var BarterWindow = window;
            $(document).ready(function () {
                if (BarterWindow.File && BarterWindow.FileReader && BarterWindow.FileList && BarterWindow.Blob) {
                    toastr.success("Welcome to Barter Faire");
                } else {
                    toastr.error("You are using an older browser that isn't HTML5 compliant :\ Try again when you step it up nerd.", "STEP IT UP");
                }
                Application.Initialize(BarterWindow);
                Application.Transition("home"); 
            });