button.topMenuButton(style="margin-left: 35px;", onclick="Application.Transition('createPost')") Create a posting here in 
    span(data-bind="text:state")
h2 Select your location
div(data-bind="foreach: grouped")
    ol(style="display: inline-table;", data-bind="foreach: $data")
        li
            button.locationButton(data-bind="click: $parents[1].LoadPosts")
                span.locationName(data-bind="text: Name")
                span(style="float: right;", data-bind="text: Count + ' Post' + ((Count == 1) ? '' : 's') + ' right now.'")