div.line.login_box
    div.line
        span User Name            
        div
            input(type="text", data-bind="value: userName")
    div.line
        span Password
        div
            input.password(type="password" data-bind="value: passWord")
    button(data-bind="click: LoginClick") Login!