div(style="display: table-caption; padding-left:65px;padding-top: 10px;")
    div
        div(style="display: initial")
            span User Name            
            input(type="text", data-bind="value: userName")
        div
        div(style="display: initial")
                span Password
                input.password(type="password" data-bind="value: passWord")
    button.JKButton(data-bind="click: LoginClick") Login!