div.line
	div.unit.size1of1
		p You're logged in as 
			strong(data-bind="text:userName") . 
div.line
	div.unit.size1of1
		label Email
		div
			input(type="text", data-bind="value:email")
		label Password
		div
			input.password(type="password", data-bind="value: passWord")
		label Confirm Password
		div
			input.password(type="password", data-bind="value: confirmPassWord")
div.line
	button(data-bind="click: Edit") Submit Edits!