div.messageBody
    button.topMenuButton(data-bind="click:back") Back
    button.topMenuButton(data-bind="click:reply", style="margin-left:5px") Reply
    p(data-bind="text: Title")
    p(data-bind="text: Body")