h3.postTitle(data-bind="text: Title")
div
    button.JKButton(data-bind="click:sendMessage") Contact Seller!
    p(data-bind="text:Body")
    div.imgSlideContainer(data-bind="if: imagePaths().length > 0") 
        div.imgArrows
            a.imgTabBtn.unslider-arrow.prev(href="#")
                img(src='../Images/slider-arrow-left.png')
            a.imgTabBtn.unslider-arrow.next(href="#")
                img(src='../Images/slider-arrow-right.png')
        div.banner
            ul(data-bind="foreach: imagePaths")
                li
                    img(data-bind="attr: { src: $data }", alt="")