div(style="display: table-caption; padding-left:65px") 
    span User Name
    input(type="text", data-bind="value: userName") 
    span Email
    input(type="text", data-bind="value: email")   
    span Password
    input.password(type="password", data-bind="value: passWord") 
    span Confirm Password
    input.password(type="password", data-bind="value: confirmPassWord") 
    button(data-bind="click: RegisterClick") Register!