div.line
    span User Name
    div
        input(type="text", data-bind="value: userName") 
    span Email
    div
        input(type="text", data-bind="value: email")   
    span Password
    div
        input.password(type="password", data-bind="value: passWord") 
    span Confirm Password
    div
        input.password(type="password", data-bind="value: confirmPassWord") 
button(data-bind="click: RegisterClick") Register!